/* */
.btn { border: 0; border-radius: 0; padding: 15px 25px; font-size: 13px; line-height: 22px; text-transform: uppercase; letter-spacing: 2px; }
.btn-sm { padding: 10px 20px; }

.btn-primary { background-color: #93826B; color: #FFFFFF; }
.btn-primary:hover { background-color: rgba(147, 130, 107, 0.5); color: #FFFFFF !important; }
.btn-secondary { background-color: #1C1C1C; color: #FFFFFF; }
.btn-secondary:hover { background-color: rgba(28, 28, 28, 0.5); color: #FFFFFF !important; }

/* */
.section-slider .carousel { height: calc(100vh); min-height: 720px; }
.section-slider .carousel-inner,
.section-slider .carousel-item { height: 100%; background-position: center; }
.section-slider .carousel-item .container { position: relative; z-index: 2; }

.section-slider .carousel-caption { position: static; right: auto; bottom: auto; left: auto; padding-top: 0; padding-bottom: 0; color: #000000; text-align: center; }
.section-slider .carousel-caption h2 { font-size: 72px; line-height: 80px; margin-bottom: 40px; }

.section-slider .carousel-indicators {  bottom: 50%; left: auto; justify-content: end; margin: 0; }
.section-slider .carousel-indicators ul { list-style: none; margin: 0 20px 0 0; padding: 0; }
.section-slider .carousel-indicators li { margin-bottom: -5px; text-align: right; }
.section-slider .carousel-indicators [data-bs-target] { width: 15px; border: 0; height: 2px; padding: 0; margin: 0; transition: ease all 0.3s; }
.section-slider .carousel-indicators .active { opacity: 1; width: 45px; }

/* */
.form-group { display: flex; }
.form-control { border-radius: 0; padding: 10px 15px; }
.form-control::placeholder { font-size: 0.875rem; }

.text-bg-dark { background-color: rgba(28, 28, 28, 1) !important; }
.offcanvas-header .btn-close { position: absolute; right: 30px; top: 30px; color: #FFFFFF !important; }

/* */
.input-group.date .form-control { background-color: transparent; padding-right: 50px; border: 0; }
.input-group.date .form-control::placeholder { color: #FFFFFF; }
.input-group.date .form-control::focus { outline: 0 0 0; box-shadow: 0 0 0; }
.input-group.date i { position: absolute; top: 7px; right: 10px; color: #CCCCCC; font-size: 1.25rem; pointer-events: none; }

/* */
.datepicker td,
.datepicker th { width: 40px; height: 40px; border-radius: 0; font-size: 13px; border: 1px solid #FFFFFF; background-color: #F1F1F1; }
.datepicker td:hover,
.datepicker th:hover { background-color: rgba(28, 28, 28, 1) !important; color: #FFFFFF; }

/* */
.table-lg  > :not(caption)>*>* { padding: 15px; }
.table-tan > :not(caption)>*>* { background-color: #93826b; color: #FFFFFF; }
.table-tan tr { border-color: rgba(225, 225, 225, 0.2); }

/* */
.table > .thead-dark th { background-color: rgba(28, 28, 28, 1); color: #FFFFFF; }
.table-lg td, .table-lg th { padding: 1rem; }