/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body { font-family: 'Open Sans', sans-serif; }

h1, h2, h3 { font-family: 'Raleway', sans-serif; }
h4, h5 { font-family: 'Raleway', sans-serif; }

/* Defaults */
body { font-size: 0.875rem; line-height: 1.5rem; color: #1C1C1C; overflow-x: hidden; }

/*
Special
12px - 0.75rem
13px - 0.8125rem
14px - 0.875rem
18px - 1.125rem

Standard
16px - 1.0rem
24px - 1.5rem
32px - 2.0rem
40px - 2.5rem
48px - 3.0rem
56px - 3.5rem
64px - 4.0rem
72px - 4.5rem
80px - 5.0rem
*/

h1 { font-size: 4.5rem; line-height: 5.0rem; margin-bottom: 2.5rem; font-weight: bold; }
h2 { font-size: 4.0rem; line-height: 4.5rem; margin-bottom: 2.0rem; font-weight: bold; }
h3 { font-size: 2.0rem; line-height: 2.5rem; margin-bottom: 1.5rem; font-weight: bold; }
h4 { font-size: 1.5rem; line-height: 2.0rem; margin-bottom: 1.5rem; }
h5 { font-size: 1.0rem; line-height: 1.5rem; margin-bottom: 0; }

p  { font-size: 0.875rem; line-height: 1.5rem; margin-bottom: 1.5rem; }
li { font-size: 0.875rem; line-height: 1.5rem; }

a { color: #93826b; transition: all 0.3s; text-decoration: none; }
a img { transition: all 0.3s; }
a:hover { text-decoration: none; color: rgba(28, 28, 28, 1); }

hr {}
blockquote {}
strong {}
svg { height: 100%; width: 100%; }
table { width: 100%; }

/* General */
.hidden { display: none; z-index: -1000 !important; }
.required { color: red; font-weight: bold; }
.subscript { text-transform: uppercase; letter-spacing: 3px; font-size: 0.75rem; font-weight: bold; }
.supscript { font-size: 0.875rem; font-style: italic; color: #777777; }
.bg-shaded { background-color: #f8f8f8; }
.section { padding-top: 100px; margin-bottom: 100px; }

.overlay { position: absolute; height: 100%; width: 100%; z-index: 1; top: 0; }
.overlay.dark { background-color: rgba(0, 0, 0, 0.30); }
.overlay.lite { background-color: rgba(225, 225, 255, 0.20); }

/* Line Heights */
.lh-1 { line-height: 1; }
.lh-2 { line-height: 2; }
.lh-3 { line-height: 3; }
.lh-4 { line-height: 4; }
.lh-5 { line-height: 5; }

/* Font Colors */
.fc-black 	{ color: #000000; }
.fc-white 	{ color: #FFFFFF; }
.fc-tan		{ color: #93826B; }

/* */
.pb-0 	{ padding-bottom: 0; }
.pb-50 	{ padding-bottom: 50px; }
.pb-100 { padding-bottom: 100px; }
.pt-0 	{ padding-top: 0px; }
.pt-50 	{ padding-top: 50px; }
.pt-100 { padding-top: 100px; }

.mb-0 	{ margin-bottom: 0px; }
.mb-50 	{ margin-bottom: 50px; }
.mb-100 { margin-bottom: 100px; }
.mt-0 	{ margin-top: 0px; }
.mt-50 	{ margin-top: 50px; }
.mt-100 { margin-top: 100px; }

/* Header */
.header,
.header > div { transition: 0.3s ease all; }
.header { height: 180px; background-color: rgba(28, 28, 28, 0); position: fixed; top: 0; left: 0; width: 100%; padding: 10px 20px; z-index: 1000; }
.header a { color: #FFFFFF; }
.header a:hover { color: #93826b; }
.header .header-logo a { display: flex; flex-flow: column; align-items: center; justify-content: center; }
.header .header-logo a .logo-icon { height: 80px; }
.header .header-logo a .logo-text { height: 40px; }
.header .utilities ul { margin-bottom: 0; text-align: right; }
.header .utilities ul li { display: inline-block; margin: 0 10px; }

.header.shrink { height: 100px; background-color: rgba(28, 28, 28, 1); }
.header.shrink .header-logo a .logo-icon { height: 60px; }
.header.shrink .header-logo a .logo-text { height: 0; }

/* */
.section-slider p,
.section-slider h2 { color: #FFFFFF; }

/* */
.banner { height: 560px; color: #FFFFFF; text-align: center; padding-top: 200px; position: relative; }
.banner { background-size: cover; background-position: center; }
.banner .container,
.banner .row { height: 100%; position: relative; z-index: 2; }

/* Kneeler */
.kneeler { padding: 70px 0 40px; }

/* Footer */
footer { background-color: #1c1c1c; color: #858585; padding: 80px 20px 30px; }
footer a { color: #93826b; }
footer a:hover { color: #999999; }
footer .widget h4 { font-size: 1.125rem; line-height: 1.0rem; font-weight: bold; letter-spacing: 1px; margin-bottom: 30px; }
footer .copyright { border-top: 1px solid rgba(225, 255, 255, 0.1); padding-top: 40px; margin-top: 30px; text-align: center; }

/* */
.list-socmed { list-style: none; margin: 0 0 20px; padding: 0; }
.list-socmed li { display: inline-block; margin: 0 10px; }
.list-socmed li i { font-size: 24px; }
.list-socmed li a i { color: #93826b; transform: translateY(0); transition: ease all 0.3s; }
.list-socmed li a:hover i { transform: translateY(-7px); }

/* */
.list-links { list-style: none; margin: 0 0 20px; padding: 0; }
.list-links li { margin-bottom: 10px; }
.list-links li a { transform: translatex(0); transition: ease all 0.3s; position: relative; display: inline-block; }
.list-links li a:before { content: "→"; position: absolute; left: -20px; top: 0; opacity: 0; transition: ease all 0.3s; }
.list-links li a:hover { transform: translatex(20px); }
.list-links li a:hover:before { opacity: 1; }

/* */
.callout-slideshow { height: 560px; width: 100%; color: #FFFFFF; text-align: center; position: relative; }
.callout-slideshow .container,
.callout-slideshow .container > .row { height: 100%; z-index: 2; }

.callout-fullwidth { height: 480px; width: 100%; position: relative; background-color: #93826b; }
.callout-fullwidth .container,
.callout-fullwidth .row { height: 100%; }
.callout-fullwidth .callout-content { color: #FFFFFF; position: relative; z-index: 2; margin: 0 70px; }
.callout-fullwidth .callout-image { background-size: cover; background-position: center; position: absolute; top: 0; right: 0; height: 100%; width: 60%; }
.callout-fullwidth:before { position: absolute; content: ""; border: 1px solid #FFFFFF; width: calc(100% - 70px); height: calc(100% - 70px); z-index: 1; }
.callout-fullwidth:before { top: 50%; left: 50%; transform: translate(-50%, -50%); }

/* */
.bordered-image { position: relative; margin-bottom: 70px; }
.bordered-image:before,
.bordered-image:after { position: absolute; content: ""; border: 1px solid black; right: 40px; top: 40px; }
.bordered-image:before { border-color: rgba(28, 28, 28, 0.2); height: 100%; width: 100%; }
.bordered-image:after { border-color: #FFFFFF; width: calc(100% - 40px); height: calc(100% - 40px); border-left: 0; border-bottom: 0; }

/* */
.bordered-block { position: relative; margin-top: 40px; }
.bordered-block img { width: 100%; }
.bordered-block > .row { position: relative; z-index: 2; }
.bordered-block .slider-nagivate .carousel-control { left: 40px; }
.bordered-block:before,
.bordered-block:after { position: absolute; content: ""; border: 1px solid black; left: 40px; bottom: 40px; }
.bordered-block:before { border-color: rgba(28, 28, 28, 0.2); height: 100%; width: 100%; }
.bordered-block:after { border-color: #FFFFFF; width: calc(100% - 40px); height: 100%; border-width: 0; top: 0; border-left-width: 1px; }

/* */
.section-awards { padding: 100px 0; }
.section-awards .slick-slide { margin: 0 20px; }
.section-awards .slick-slide img { max-width: 100%; }

/* */
.button-menu a { display: flex; align-items: center; text-transform: uppercase; }
.button-menu i { font-size: 1.125rem; margin-right: 10px; }
.button-modals { position: absolute; bottom: 0; left: 0; z-index: 2; }

/* */
.tabs-default li { margin: 10px 20px; text-transform: uppercase; letter-spacing: 1px; font-size: 0.8125rem; }
.tabs-default a { color: #666666; position: relative; display: inline-block; cursor: pointer; padding: 0; }
.tabs-default a:before { content: ""; position: absolute; bottom: 0; height: 1px; width: 0; left: 0; transition: ease all 0.3s; }
.tabs-default a:before { background-color: #93826b; }
.tabs-default a:hover { color: #93826b; }
.tabs-default a.active:before,
.tabs-default a:hover:before { width: 100%; }

/* */
.slider-nagivate { background-color: #FFFFFF; }
.slider-nagivate .slider-nagivate-text { width: 80%; margin: 30px auto; }
.slider-nagivate .slider-nagivate-image { min-height: 640px; background-size: cover; background-position: center; }
.slider-nagivate .carousel-control { position: absolute; bottom: 0; left: 0; display: flex; }
.slider-nagivate .carousel-control-prev,
.slider-nagivate .carousel-control-next { position: static; background-color: #93826b; height: 50px; width: 50px; }

/* */
.slider-rooms .slider-rooms-text { width: 80%; margin: 30px 20px; }
.slider-rooms .slider-rooms-image { min-height: 480px; background-size: cover; background-position: center; }
.slider-rooms .carousel-item { background-color: #FFFFFF; }
.slider-rooms .carousel-control { /*position: absolute; bottom: 50%; right: auto; left: auto; display: flex;*/ }
.slider-rooms .carousel-control-prev,
.slider-rooms .carousel-control-next { background-color: #93826b; height: 50px; width: 50px; top: 50%; transform: translate(0, -50%); }
.slider-rooms .carousel-control-prev { left: -25px; }
.slider-rooms .carousel-control-next { right: -25px; }

/* */
.section-rooms > .bordered { position: relative; padding-top: 35px; /*padding-bottom: 35px;*/ }
.section-rooms > .bordered:before { top: 0; left: 50px; }
.section-rooms > .bordered:before { content: ""; position: absolute; height: 100%; width: calc(100% - 100px); border: 1px solid rgba(28, 28, 28, 0.1); }
.section-rooms .carousel-indicators { position: relative; justify-content: flex-start; padding: 0; margin: 0 50px; }
.section-rooms .carousel-indicators [data-bs-target] { height: 100%; width: 100%; display: flex; margin: 0; text-indent: inherit; border: 0; background-color: transparent; }
.section-rooms .carousel-indicators [data-bs-target] > div { width: 50%; padding: 10px; text-align: left; }

/* */
#slide_menu .nav-item { border-bottom: 1px solid rgba(225, 225, 225, 0.1); }
#slide_menu .nav-link { color: #CCCCCC; padding-top: 15px; padding-bottom: 15px; }
#slide_menu .nav-link:hover { color: #93826b; }
#slide_menu .nav-item-caret { display: flex; justify-content: space-between; }

#slide_menu .subnav { background-color: rgba(51, 51, 51, 0.2); }
#slide_menu .subnav-link { width: 40px; color: #CCCCCC; display: flex; justify-content: center; align-items: center; }
#slide_menu .subnav .nav-item { border-top: 1px solid rgba(225, 225, 225, 0.1); border-bottom: 0; }
#slide_menu .subnav .nav-item .nav-link { padding-left: 40px; position: relative; }
#slide_menu .subnav .nav-item .nav-link:before { content: "→"; position: absolute; left: 15px; top: 7px; }

/* */
.form-availability-list,
.form-availability-list p { color: #858585; }
.form-availability-list label { color: #858585; font-size: 0.8125rem; text-transform: uppercase; }
.form-availability-list select { background-color: transparent; color: #FFFFFF; padding: 10px; border-radius: 0 !important; border: 0; }
.form-availability-list select:focus { box-shadow: 0 0 0; border: 0; }
.form-availability-list option { border-radius: 0 !important; background-color: rgba(28, 28, 28, 1) !important; }

.form-availability-list .form-block { border-bottom: 1px solid #858585; margin-bottom: 10px; }
.form-availability-list .form-block:last-child { border-bottom: 0; }
.form-availability-list .form-check-input[type=checkbox] { height: 20px; width: 20px; margin-right: 20px; background-color: transparent; }
.form-availability-list .form-check-input[type=checkbox] { border-radius: 0; }
.form-availability-list .form-check-input[type=checkbox]::focus { outline: 0 0 0; box-shadow: 0 0 0; }
.form-availability-list .list-default li { margin-bottom: 5px; }

/* */
.list-room-details { display: flex; list-style: none; padding: 0; margin: 0; }
.list-room-details li { width: 100%; }

/* */
.list-default { margin: 0; padding: 0; }

/* */
.list-breadcrumbs { padding: 0; margin: 0; list-style: none; }
.list-breadcrumbs li { display: inline-block; position: relative; color: #FFFFFF; }
.list-breadcrumbs li:after { content: "|"; margin-left: 5px; margin-right: 5px; color: rgba(225, 225, 225, 0.5); }
.list-breadcrumbs li:last-child:after { display: none; }
.list-breadcrumbs li a { color: rgba(225, 225, 225, 0.5); }
.list-breadcrumbs li a:hover,
.list-breadcrumbs li span { color: rgba(225, 225, 225, 1); }

/* */
body.room .header { height: 100px; background-color: rgba(28, 28, 28, 1); }
body.room .header .header-logo a .logo-icon { height: 60px; }
body.room .header .header-logo a .logo-text { height: 0; }

body.room .banner { height: 320px; text-align: left; padding-top: 100px; position: relative; }
body.room .banner .overlay.dark { background-color: rgba(0, 0, 0, 0.50); }
body.room .banner h2 { color: #FFFFFF; }
body.room .banner .room-price { text-align: right; }
body.room .form-block { border-right: 1px solid #858585; }

/* */
.slider-center .slick-slide { border: 1px solid red; margin: 20px; transform: scale(1); transition: ease all 0.3s; }
.slider-center .slick-center { transform: scale(1.1); }
.slider-center .slick-arrow { position: absolute; top: calc(50% - 30px); z-index: 1; height: 60px; width: 60px; color: #FFFFFF; display: flex; }
.slider-center .slick-arrow { background-color: rgba(0, 0, 0, 0.4); justify-content: center; align-items: center; }
.slider-center .slick-arrow.slide-prev { left: 20px; }
.slider-center .slick-arrow.slide-next { right: 20px; }
.slider-center .slick-arrow:hover { background-color: rgba(0, 0, 0, 1); }

/* */
.deck-style-1 { position: relative; }
.deck-style-1 .card { position: relative; border-radius: 0; border: 0; }
.deck-style-1 .card-text { position: absolute; height: 20%; width: 100%; bottom: 0; transition: ease all 0.3s; display: flex; flex-direction: column; }
.deck-style-1 .card-text { background-color: rgba(147, 130, 107, 0); color: #FFFFFF; text-align: center; justify-content: center; align-items: center; }
.deck-style-1 .card-desc { opacity: 0; transition: ease all 0.3s; width: 60%; }
.deck-style-1 .card-name { width: 60%; }
.deck-style-1 .card:before { transform: translate(-50%, -50%); top: 50%; left: 50%; width: calc(100% - 70px); height: calc(100% - 70px); }
.deck-style-1 .card:before { position: absolute; content: ""; border: 1px solid #FFFFFF;  z-index: 1; }
.deck-style-1 .card:hover .card-text { height: 100%; background-color: rgba(147, 130, 107, 0.8); }
.deck-style-1 .card:hover .card-desc { opacity: 1; }

/* */
.icon-sustainability { max-width: 80px; margin-bottom: 30px; filter: invert(1); }

/* */
.section-features {}
.section-features .media-icon { width: 80px; background-color: black; border-radius: 50%; height: 80px; display: flex; justify-content: center; align-items: center; }
.section-features .media-icon img { width: 30px; filter: invert(1); }
.section-features .media-body { padding: 0 20px; text-align: center; }

/* Loader */
.no-js #loader { display: none; }
   .js #loader { display: block; position: absolute; left: 100px; top: 0; }

.se-pre-con { position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 9999; }
.se-pre-con { display: flex; justify-content: center; align-items: center; background-color: #000000; }
.se-pre-con img { height: 100px; width: 100px; }

/* Animations */
@keyframes beating {
	0%		{ box-shadow: 0 0 0  5px rgba(184, 31 ,104, 0.2); }
	25% 	{ box-shadow: 0 0 0 10px rgba(184, 31 ,104, 0.2); }
	50% 	{ box-shadow: 0 0 0  5px rgba(184, 31 ,104, 0.2); }
	75% 	{ box-shadow: 0 0 0 10px rgba(184, 31 ,104, 0.2); }
	100% 	{ box-shadow: 0 0 0  5px rgba(184, 31 ,104, 0.2); }
}

@keyframes glowing {
	0%		{ box-shadow: 0 0 0  5px rgba(255, 255 ,255, 0.2); }
	25% 	{ box-shadow: 0 0 0 10px rgba(255, 255 ,255, 0.2); }
	50% 	{ box-shadow: 0 0 0  5px rgba(255, 255 ,255, 0.2); }
	75% 	{ box-shadow: 0 0 0 10px rgba(255, 255 ,255, 0.2); }
	100% 	{ box-shadow: 0 0 0  5px rgba(255, 255 ,255, 0.2); }
}