/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body { font-family: 'Open Sans', sans-serif; }

h1, h2, h3 { font-family: 'Raleway', sans-serif; }
h4, h5 { font-family: 'Raleway', sans-serif; }

/* Defaults */
body { font-size: 14px; line-height: 22px; color: #1C1C1C; overflow-x: hidden; }

h1 { font-size: 72px; line-height: 80px; margin-bottom: 40px; font-weight: bold; }
h2 { font-size: 56px; line-height: 64px; margin-bottom: 30px; font-weight: bold; }
h3 { font-size: 32px; line-height: 40px; margin-bottom: 20px; font-weight: bold; }
h4 { font-size: 24px; line-height: 32px; margin-bottom: 20px; }
h5 { font-size: 14px; line-height: 22px; margin-bottom: 0; }
p  { font-size: 14px; line-height: 22px; margin-bottom: 20px; }
li { font-size: 14px; line-height: 22px; }

a { color: #000000; transition: all 0.3s; text-decoration: none; }
a img { transition: all 0.3s; }
a:hover { text-decoration: none; color: #666666; }

hr {}
blockquote {}
strong {}
svg { height: 100%; width: 100%; }
table { width: 100%; }

/* General */
.hidden { display: none; z-index: -1000 !important; }
.required { color: red; font-weight: bold; }
.subscript { text-transform: uppercase; letter-spacing: 3px; font-size: 12px; font-weight: bold; }
.supscript { font-size: 14px; font-style: italic; color: #777777; }
.bg-shaded { background-color: #f8f8f8; }
.section { padding-top: 100px; margin-bottom: 100px; }

.overlay { position: absolute; height: 100%; width: 100%; z-index: 1; }
.overlay.dark { background-color: rgba(0, 0, 0, 0.20); }
.overlay.lite { background-color: rgba(225, 225, 255, 0.20); }

/* Line Heights */
.lh-1 { line-height: 1; }
.lh-2 { line-height: 2; }
.lh-3 { line-height: 3; }
.lh-4 { line-height: 4; }
.lh-5 { line-height: 5; }

/* Font Colors */
.fc-black 	{ color: #000000; }
.fc-tan		{ color: #93826b; }

/* */
.pb-50 	{ padding-bottom: 50px; }
.pb-100 { padding-bottom: 100px; }
.pt-50 	{ padding-top: 50px; }
.pt-100 { padding-top: 100px; }

.mb-50 	{ margin-bottom: 50px; }
.mb-100 { margin-bottom: 100px; }
.mt-50 	{ margin-top: 50px; }
.mt-100 { margin-top: 100px; }

/* Header */
.header,
.header > div { transition: 0.3s ease all; }
.header { height: 180px; background-color: rgba(28, 28, 28, 0); position: fixed; top: 0; left: 0; width: 100%; padding: 10px 20px; z-index: 1000; }
.header a { color: #FFFFFF; }
.header a:hover { color: #93826b; }
.header .header-logo a { display: flex; flex-flow: column; align-items: center; justify-content: center; }
.header .header-logo a .logo-icon { height: 80px; }
.header .header-logo a .logo-text { height: 40px; }
.header .utilities ul { margin-bottom: 0; text-align: right; }
.header .utilities ul li { display: inline-block; margin: 0 10px; }

.header.shrink { height: 100px; background-color: rgba(28, 28, 28, 1); }
.header.shrink .header-logo a .logo-icon { height: 60px; }
.header.shrink .header-logo a .logo-text { height: 0; }

/* Kneeler */
.kneeler { padding: 70px 0; }

/* Footer */
footer { background-color: #1c1c1c; color: #858585; padding-top: 80px; padding-bottom: 30px; }
footer a { color: #93826b; }
footer a:hover { color: #999999; }
footer .widget h4 { font-size: 18px; line-height: 16px; font-weight: bold; letter-spacing: 1px; margin-bottom: 30px; }
footer .copyright { border-top: 1px solid rgba(225, 255, 255, 0.1); padding-top: 40px; margin-top: 30px; text-align: center; }

/* */
.list-socmed { list-style: none; margin: 0 0 20px; padding: 0; }
.list-socmed li { display: inline-block; margin: 0 10px; }
.list-socmed li i { font-size: 24px; }
.list-socmed li a i { color: #93826b; transform: translateY(0); transition: ease all 0.3s; }
.list-socmed li a:hover i { transform: translateY(-7px); }

/* */
.list-links { list-style: none; margin: 0 0 20px; padding: 0; }
.list-links li { margin-bottom: 10px; }
.list-links li a { transform: translatex(0); transition: ease all 0.3s; position: relative; display: inline-block; }
.list-links li a:before { content: "→"; position: absolute; left: -20px; top: 0; opacity: 0; transition: ease all 0.3s; }
.list-links li a:hover { transform: translatex(20px); }
.list-links li a:hover:before { opacity: 1; }

/* */
.callout-slideshow { height: 560px; width: 100%; color: #FFFFFF; text-align: center; position: relative; }
.callout-slideshow .container,
.callout-slideshow .row { height: 100%; z-index: 2; }

.callout-fullwidth { height: 480px; width: 100%; position: relative; background-color: #93826b; }
.callout-fullwidth .container,
.callout-fullwidth .row { height: 100%; }
.callout-fullwidth .callout-content { color: #FFFFFF; position: relative; z-index: 2; }
.callout-fullwidth .callout-image { background-size: cover; background-position: center; position: absolute; top: 0; right: 0; height: 100%; width: 60%; }
.callout-fullwidth:before { position: absolute; content: ""; border: 1px solid #FFFFFF; width: calc(100% - 70px); height: calc(100% - 70px); z-index: 1; }
.callout-fullwidth:before { top: 50%; left: 50%; transform: translate(-50%, -50%); }

/* */
.bordered-image { position: relative; }
.bordered-image:before,
.bordered-image:after { position: absolute; content: ""; border: 1px solid black; right: 40px; top: 40px; }
.bordered-image:before { border-color: rgba(28, 28, 28, 0.2); height: 100%; width: 100%; }
.bordered-image:after { border-color: #FFFFFF; width: calc(100% - 40px); height: calc(100% - 40px); border-left: 0; border-bottom: 0; }

/* */
.section-awards { padding: 100px 0; }
.section-awards .slick-slide { margin: 0 20px; }
.section-awards .slick-slide img { max-width: 100%; }

/* */
.button-menu a { display: flex; align-items: center; text-transform: uppercase; }
.button-menu i { font-size: 18px; margin-right: 10px; }
.button-modals { position: absolute; bottom: 0; left: 0; z-index: 2; }

/* */
.tabs-default li { margin: 0 20px; text-transform: uppercase; letter-spacing: 1px; font-size: 13px; }
.tabs-default a { color: #666666; position: relative; display: inline-block; cursor: pointer; padding: 0; }
.tabs-default a:before { content: ""; position: absolute; bottom: 0; height: 1px; width: 0; left: 0; transition: ease all 0.3s; }
.tabs-default a:before { background-color: #93826b; }
.tabs-default a:hover { color: #93826b; }
.tabs-default a.active:before,
.tabs-default a:hover:before { width: 100%; }

/* */
.slider-nagivate { background-color: #FFFFFF; }
.slider-nagivate .slider-nagivate-text { width: 80%; margin: 0 auto; }
.slider-nagivate .slider-nagivate-image { min-height: 640px; background-size: cover; background-position: center; }
.slider-nagivate .carousel-control { position: absolute; bottom: 0; left: 0; display: flex; }
.slider-nagivate .carousel-control-prev,
.slider-nagivate .carousel-control-next { position: static; background-color: #93826b; height: 50px; width: 50px; }

/* */
.slider-facilities .slider-facilities-text { width: 80%; margin: 0 auto; }
.slider-facilities .slider-facilities-image { min-height: 480px; background-size: cover; background-position: center; }
.slider-facilities .carousel-item { background-color: #FFFFFF; }
.slider-facilities .carousel-control { /*position: absolute; bottom: 50%; right: auto; left: auto; display: flex;*/ }
.slider-facilities .carousel-control-prev,
.slider-facilities .carousel-control-next { background-color: #93826b; height: 50px; width: 50px; top: 50%; }
.slider-facilities .carousel-control-prev { left: -25px; }
.slider-facilities .carousel-control-next { right: -25px; }

/* */
.section-facilities > .bordered { position: relative; padding-top: 35px; padding-bottom: 35px; }
.section-facilities > .bordered:before { top: 0; left: 50px; }
.section-facilities > .bordered:before { content: ""; position: absolute; height: 100%; width: calc(100% - 100px); border: 1px solid rgba(28, 28, 28, 0.1); }
.section-facilities .carousel-indicators { position: relative; justify-content: flex-start; padding: 0; margin: 0 50px; }
.section-facilities .carousel-indicators [data-bs-target] { height: 100%; width: 100%; display: flex; margin: 0; text-indent: inherit; border: 0; background-color: transparent; }
.section-facilities .carousel-indicators [data-bs-target] > div { width: 50%; padding: 10px; text-align: left; }

/* Loader */
.no-js #loader { display: none; }
   .js #loader { display: block; position: absolute; left: 100px; top: 0; }

.se-pre-con { position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 9999; }
.se-pre-con { display: flex; justify-content: center; align-items: center; background-color: #000000; }
.se-pre-con img { height: 100px; width: 100px; }

/* Animations */
@keyframes beating {
	0%		{ box-shadow: 0 0 0  5px rgba(184, 31 ,104, 0.2); }
	25% 	{ box-shadow: 0 0 0 10px rgba(184, 31 ,104, 0.2); }
	50% 	{ box-shadow: 0 0 0  5px rgba(184, 31 ,104, 0.2); }
	75% 	{ box-shadow: 0 0 0 10px rgba(184, 31 ,104, 0.2); }
	100% 	{ box-shadow: 0 0 0  5px rgba(184, 31 ,104, 0.2); }
}

@keyframes glowing {
	0%		{ box-shadow: 0 0 0  5px rgba(255, 255 ,255, 0.2); }
	25% 	{ box-shadow: 0 0 0 10px rgba(255, 255 ,255, 0.2); }
	50% 	{ box-shadow: 0 0 0  5px rgba(255, 255 ,255, 0.2); }
	75% 	{ box-shadow: 0 0 0 10px rgba(255, 255 ,255, 0.2); }
	100% 	{ box-shadow: 0 0 0  5px rgba(255, 255 ,255, 0.2); }
}